html {
  height: 100%;
  overflow: hidden;
}
body {
  background: no-repeat url('images/background.png');
  background-size: 100% 100%;
  margin: 0;
  height: 100%;
}

#root {
  background: no-repeat url('images/background.png');
  background-size: 100% 100%;
  margin: 0;
  height: calc(100% - 64px);
}

#SplashScreen {
  position: absolute;
  width: 80%;
  left: 10%;
  height: 90%;
  top: 5%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
}

#SplashScreen-welcome {
  display: flex;
  align-items: center;
  justify-content: center;
}

#SplashScreen-slogen {
  display: grid;
  grid-template-rows: 40% 20%;
  grid-template-columns: 100%;
  align-items: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

#SplashScreen-content {
  display: grid;
  gap: 2rem;
  grid-template-rows: 100%;
  grid-template-columns: 60% 40%;
}